<nav class="bg-primary py-2 ">
  <ul class="d-flex center justify-content-center ">
    <li class="list-unstyled">
      <a class="text-decoration-none text-white m-3" [routerLink]="['/productos']">Productos</a>
    </li>
    <li class="list-unstyled">
      <a class="text-decoration-none text-white m-3" [routerLink]="['/hijocoche']">Hijo Coche</a>
    </li>
    <li class="list-unstyled">
      <a class="text-decoration-none text-white m-3" [routerLink]="['/padrecoche']">Padre Coches</a>
    </li>
    <li class="list-unstyled">
      <a class="text-decoration-none text-white m-3" [routerLink]="['/padredeportes']">Padre Deportes</a>
    </li>
    <li class="list-unstyled">
      <a class="text-decoration-none text-white m-3" [routerLink]="['/hijodeportes']">Hijo Deportes</a>
    </li>
    <li class="list-unstyled">
      <a class="text-decoration-none text-white m-3" [routerLink]="['/comic']">Comic</a>
    </li>
    <li class="list-unstyled">
      <a class="text-decoration-none text-white m-3" [routerLink]="['/comics']">Comics</a>
    </li>
  </ul>
</nav>
